h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    background-color: #99ff33;
}
p {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

th {
    font-family: 'Roboto', sans-serif;
}

td {
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    background-color: #ff9966;
    color: white;
}
  
#page-wrap {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}
